Repository PHPOffice/PHPWord, pull requests merged in 2021-02, with the labels that each got.

#1936 Add null check when setComplexValue is not found
  src/PhpWord/TemplateProcessor.php
Labels: Waiting for feedback

#1902 Enhancements to addHTML parser
  src/PhpWord/Shared/Html.php
  tests/PhpWord/Shared/HtmlTest.php
Labels: HTML

#1809 Update the regexp to avoid catastrophic backtracking
  src/PhpWord/TemplateProcessor.php
Labels: Template Processor

#1699 Add Option for Dynamic Chart Legend Position
  src/PhpWord/Style/Chart.php
  src/PhpWord/Writer/Word2007/Part/Chart.php
Labels: Waiting for feedback

#1832 Add parsing of HTML checkbox input field
  src/PhpWord/Shared/Html.php
  tests/PhpWord/Shared/HtmlTest.php
Labels: HTML
