Repository PHPOffice/PHPWord, pull requests merged in 2023-01, with the labels that each got.

#2364 Add background color support for text box element for Word writer
  src/PhpWord/Style/TextBox.php
  src/PhpWord/Writer/Word2007/Element/TextBox.php
  src/PhpWord/Writer/Word2007/Style/TextBox.php
  tests/PhpWordTests/Style/TextBoxTest.php
  tests/PhpWordTests/Writer/Word2007/Part/DocumentTest.php
Labels: Open XML (Word 2007+)

#2277 Add softhyphen support to Word2007 Reader
  src/PhpWord/Reader/Word2007/AbstractPart.php
Labels: Open XML (Word 2007+)

#2350 Add support table row height when importing HTML
  src/PhpWord/Shared/Html.php
  tests/PhpWordTests/Shared/HtmlTest.php
Labels: HTML

#2367 Update recipes.rst
  docs/recipes.rst
Labels: Documentation
