Repository PHPOffice/PHPWord, pull requests merged in 2023-09, with the labels that each got.

#2459 Fix Html::parseImage when image has no extension
  CHANGELOG.md
  src/PhpWord/Shared/Html.php
  tests/PhpWordTests/AbstractWebServerEmbeddedTest.php
  tests/PhpWordTests/Shared/HtmlTest.php
  tests/PhpWordTests/_files/images/new-php-logo
Labels: HTML

#2454 Word2007 Reader : Support for table cell borders and margins
  CHANGELOG.md
  src/PhpWord/Reader/Word2007/AbstractPart.php
  src/PhpWord/Style/Border.php
  src/PhpWord/Style/Section.php
  tests/PhpWordTests/Reader/Word2007/StyleTest.php
Labels: Open XML (Word 2007+)

#2468 PDF Writer : Add config for defining the default font
  docs/changes/1.x/1.2.0.md
  docs/usage/writers.md
  phpstan-baseline.neon
  src/PhpWord/Settings.php
  src/PhpWord/Writer/PDF/AbstractRenderer.php
  src/PhpWord/Writer/PDF/DomPDF.php
  src/PhpWord/Writer/PDF/MPDF.php
  src/PhpWord/Writer/PDF/TCPDF.php
  tests/PhpWordTests/SettingsTest.php
  tests/PhpWordTests/Writer/PDF/DomPDFTest.php
  tests/PhpWordTests/Writer/PDF/MPDFTest.php
  tests/PhpWordTests/Writer/PDF/TCPDFTest.php
Labels: Portable Document (PDF)

#2469 Word2007 Reader : Added support for Comments
  docs/changes/1.x/1.2.0.md
  docs/index.md
  phpstan-baseline.neon
  src/PhpWord/Collection/AbstractCollection.php
  src/PhpWord/PhpWord.php
  src/PhpWord/Reader/Word2007.php
  src/PhpWord/Reader/Word2007/AbstractPart.php
  src/PhpWord/Reader/Word2007/Comments.php
  tests/PhpWordTests/Collection/CollectionTest.php
  tests/PhpWordTests/Reader/Word2007Test.php
  tests/PhpWordTests/_files/documents/reader-comments.docx
Labels: Open XML (Word 2007+)

#2470 Word2007 Reader/Writer: Permit book-fold printing
  docs/changes/1.x/1.2.0.md
  docs/usage/introduction.md
  docs/usage/writers.md
  phpstan-baseline.neon
  src/PhpWord/Metadata/Settings.php
  src/PhpWord/Reader/Word2007/Settings.php
  src/PhpWord/Writer/Word2007/Part/Settings.php
  tests/PhpWordTests/Metadata/SettingsTest.php
  tests/PhpWordTests/Writer/Word2007/Part/SettingsTest.php
Labels: Open XML (Word 2007+)

#2471 Word2007 Writer : Add PageNumber to TOC
  docs/changes/1.x/1.2.0.md
  docs/usage/elements/title.md
  src/PhpWord/Element/AbstractContainer.php
  src/PhpWord/Element/Title.php
  src/PhpWord/Writer/Word2007/Element/TOC.php
  tests/PhpWordTests/Element/TitleTest.php
  tests/PhpWordTests/Writer/Word2007/Element/TOCTest.php
  tests/PhpWordTests/Writer/Word2007/Element/TitleTest.php
  tests/PhpWordTests/Writer/Word2007/ElementTest.php
  tests/PhpWordTests/Writer/Word2007/Part/DocumentTest.php
Labels: Open XML (Word 2007+)

#2477 Formula : Add Element (& Writer/Reader Word2007/ODText)
  .github/workflows/php.yml
  composer.json
  composer.lock
  docs/changes/1.x/1.2.0.md
  docs/index.md
  docs/usage/elements/formula.md
  src/PhpWord/Element/AbstractContainer.php
  src/PhpWord/Element/Formula.php
  src/PhpWord/Reader/ODText.php
  src/PhpWord/Reader/ODText/Content.php
  src/PhpWord/Reader/Word2007/AbstractPart.php
  src/PhpWord/Writer/ODText.php
  src/PhpWord/Writer/ODText/Element/Formula.php
  src/PhpWord/Writer/ODText/Part/AbstractPart.php
  src/PhpWord/Writer/ODText/Part/Content.php
  src/PhpWord/Writer/ODText/Part/Manifest.php
  src/PhpWord/Writer/Word2007/Element/AbstractElement.php
  src/PhpWord/Writer/Word2007/Element/Container.php
  src/PhpWord/Writer/Word2007/Element/Formula.php
  tests/PhpWordTests/Element/AbstractElementTest.php
  tests/PhpWordTests/Element/FormulaTest.php
  tests/PhpWordTests/Reader/ODTextTest.php
  tests/PhpWordTests/Reader/Word2007Test.php
  tests/PhpWordTests/Writer/ODText/Element/FormulaTest.php
  tests/PhpWordTests/Writer/ODText/Part/ManifestTest.php
  tests/PhpWordTests/Writer/Word2007/Element/FormulaTest.php
  tests/PhpWordTests/Writer/Word2007/Part/DocumentTest.php
  tests/PhpWordTests/XmlDocument.php
  tests/PhpWordTests/_files/documents/reader-formula.docx
  tests/PhpWordTests/_files/documents/reader-formula.odt
Labels: Open XML (Word 2007+), Open Document (ODT)
