Repository PHPOffice/PHPWord, pull requests merged in 2024-08, with the labels that each got.

#2618 [TYPO] Fix hardcoded macro chars in TemplateProcessor method
  docs/changes/2.x/2.0.0.md
  src/PhpWord/TemplateProcessor.php
Labels: Waiting for feedback

#2626 Prevented fatal errors when opening corrupt files or "doc" files
  docs/changes/2.x/2.0.0.md
  src/PhpWord/Shared/XMLReader.php
  tests/PhpWordTests/Shared/XMLReaderTest.php
Labels: Waiting for feedback

#2645 Bump phpoffice/math from 0.1.0 to 0.2.0
  composer.json
  composer.lock
  docs/changes/2.x/2.0.0.md
Labels: Bug Report

#2650 Documentation : Updated Comment element
  docs/changes/2.x/2.0.0.md
  docs/usage/elements/comment.md
Labels: Documentation

#2651 Word2007 Reader: Support for Paragraph Border Style
  docs/changes/2.x/2.0.0.md
  src/PhpWord/Element/TextRun.php
  src/PhpWord/Reader/Word2007/AbstractPart.php
  tests/PhpWordTests/Reader/Word2007Test.php
  tests/PhpWordTests/_files/documents/reader-styles.docx
Labels: Open XML (Word 2007+)

#2652 Word2007 Writer : Added support for field `REF`
  docs/changes/2.x/2.0.0.md
  docs/usage/elements/field.md
  src/PhpWord/Element/Field.php
  src/PhpWord/Writer/Word2007/Element/Field.php
  tests/PhpWordTests/Writer/Word2007/Element/FieldTest.php
Labels: Open XML (Word 2007+)

#2653 Word2007 Reader : Support for FormFields
  docs/changes/2.x/2.0.0.md
  phpstan-baseline.neon
  src/PhpWord/Reader/Word2007/AbstractPart.php
  tests/PhpWordTests/Reader/Word2007/ElementTest.php
Labels: Change Request

#2654 HTML Reader : Read width & height attributes in points
  composer.lock
  docs/changes/2.x/2.0.0.md
  src/PhpWord/Shared/Html.php
  tests/PhpWordTests/Shared/HtmlTest.php
Labels: Bug Report, HTML

#2655 Template Processor : Fixed bad naming of variables
  docs/changes/2.x/2.0.0.md
  src/PhpWord/TemplateProcessor.php
Labels: Bug Report, Template Processor

#2638 Fix transparent background images to be displayed correctly
  docs/changes/2.x/2.0.0.md
  src/PhpWord/TemplateProcessor.php
Labels: Status: Waiting for feedback

#2661 Word2007 Writer : Fixed StrikeThrough property
  docs/changes/1.x/1.3.0.md
  src/PhpWord/Style/Font.php
  src/PhpWord/Writer/Word2007/Style/Font.php
  tests/PhpWordTests/Writer/Word2007/Part/DocumentTest.php
Labels: Bug Report, Open XML (Word 2007+)

#2662 Word2007 Reader: Support the page break (`<w:lastRenderedPageBreak/>`)
  docs/changes/1.x/1.3.0.md
  src/PhpWord/Reader/Word2007/AbstractPart.php
  src/PhpWord/Reader/Word2007/Document.php
Labels: Change Request, Open XML (Word 2007+)

#2663 HTML Reader : Fixed link without href
  docs/changes/1.x/1.3.0.md
  src/PhpWord/Shared/Html.php
  tests/PhpWordTests/Shared/HtmlTest.php
Labels: Bug Report

#2664 MsDoc Reader: Support for UTF-8 characters
  docs/changes/1.x/1.3.0.md
  src/PhpWord/Reader/MsDoc.php
  tests/PhpWordTests/Reader/MsDocTest.php
  tests/PhpWordTests/_files/documents/docChinese.doc
  tests/PhpWordTests/_files/documents/docCzech.doc
  tests/PhpWordTests/_files/documents/docSlovak.doc
Labels: Change Request, MS-DOC (Word 97)
