Repository PHPOffice/PHPWord, pull requests merged in 2025-01, with the labels that each got.

#2722 Autoload : Allow to use PHPWord without Composer
  README.md
  bootstrap.php
  composer.json
  docs/changes/1.x/1.4.0.md
  docs/install.md
  docs/usage/introduction.md
  samples/Sample_45_Autoloader.php
  samples/Sample_Header.php
  src/PhpWord/Autoloader.php
  tests/PhpWordTests/AutoloaderTest.php
  tests/bootstrap.php
Labels: Change Request

#2725 Reader HTML: Support for differents size units for table
  docs/changes/1.x/1.4.0.md
  src/PhpWord/Shared/Html.php
  tests/PhpWordTests/Shared/HtmlTest.php
Labels: Bug Report

#2714 feat(font): add default asian font name
  docs/changes/1.x/1.4.0.md
  docs/usage/introduction.md
  src/PhpWord/PhpWord.php
  src/PhpWord/Settings.php
  src/PhpWord/Writer/Word2007/Part/Styles.php
  tests/PhpWordTests/PhpWordTest.php
  tests/PhpWordTests/SettingsTest.php
Labels: Change Request

#2731 Writer HTML: Support Default font color
  docs/changes/1.x/1.4.0.md
  src/PhpWord/Writer/HTML/Part/Body.php
  src/PhpWord/Writer/HTML/Part/Head.php
  tests/PhpWordTests/Writer/HTML/FontTest.php
Labels: HTML

#2733 Reader HTML: Support for inherit value for property line-height
  docs/changes/1.x/1.4.0.md
  src/PhpWord/Shared/Html.php
  tests/PhpWordTests/Shared/HtmlTest.php
Labels: HTML
