Repository PHPOffice/PHPWord, pull requests merged in 2025-02, with the labels that each got.

#2724 Writer EPub3 : Added support
  .gitignore
  composer.json
  docs/changes/1.x/1.4.0.md
  samples/Sample_Header.php
  src/PhpWord/IOFactory.php
  src/PhpWord/Shared/ZipArchive.php
  src/PhpWord/Writer/EPub3.php
  src/PhpWord/Writer/EPub3/Element/AbstractElement.php
  src/PhpWord/Writer/EPub3/Element/Image.php
  src/PhpWord/Writer/EPub3/Element/Text.php
  src/PhpWord/Writer/EPub3/Part.php
  src/PhpWord/Writer/EPub3/Part/AbstractPart.php
  src/PhpWord/Writer/EPub3/Part/Content.php
  src/PhpWord/Writer/EPub3/Part/ContentXhtml.php
  src/PhpWord/Writer/EPub3/Part/Manifest.php
  src/PhpWord/Writer/EPub3/Part/Meta.php
  src/PhpWord/Writer/EPub3/Part/Mimetype.php
  src/PhpWord/Writer/EPub3/Part/Nav.php
  src/PhpWord/Writer/EPub3/Style/AbstractStyle.php
  src/PhpWord/Writer/EPub3/Style/Font.php
  src/PhpWord/Writer/EPub3/Style/Paragraph.php
  src/PhpWord/Writer/EPub3/Style/Table.php
  src/PhpWord/Writer/WriterPartInterface.php
  tests/PhpWordTests/Writer/EPub3/Element/ImageTest.php
  tests/PhpWordTests/Writer/EPub3/Element/TextTest.php
  tests/PhpWordTests/Writer/EPub3/ElementTest.php
  tests/PhpWordTests/Writer/EPub3/Part/AbstractPartTest.php
  tests/PhpWordTests/Writer/EPub3/Part/ContentTest.php
  tests/PhpWordTests/Writer/EPub3/Part/ManifestTest.php
  tests/PhpWordTests/Writer/EPub3/Part/MetaTest.php
  tests/PhpWordTests/Writer/EPub3/Part/MimetypeTest.php
  tests/PhpWordTests/Writer/EPub3/Part/NavTest.php
  tests/PhpWordTests/Writer/EPub3/PartTest.php
  tests/PhpWordTests/Writer/EPub3/Style/AbstractStyleTest.php
  tests/PhpWordTests/Writer/EPub3/Style/FontTest.php
  tests/PhpWordTests/Writer/EPub3/Style/ParagraphTest.php
  tests/PhpWordTests/Writer/EPub3/Style/TableTest.php
  tests/PhpWordTests/Writer/EPub3/StyleTest.php
  tests/PhpWordTests/Writer/EPub3Test.php
Labels: 🙋 Bounty claim

#2737 Reader HTML: Support font styles for h1/h6
  docs/changes/1.x/1.4.0.md
  src/PhpWord/Shared/Html.php
  src/PhpWord/Style/Font.php
  tests/PhpWordTests/Shared/HtmlTest.php
Labels: HTML

#2738 Writer HTML: Fixed null string for Text Elements
  docs/changes/1.x/1.4.0.md
  src/PhpWord/Element/Link.php
  src/PhpWord/Element/Text.php
  src/PhpWord/Writer/HTML/Element/Text.php
  tests/PhpWordTests/Writer/HTML/Element/TextTest.php
Labels: HTML

#2748 Template Processor: Fix 0 considered as empty string
  docs/changes/1.x/1.4.0.md
  src/PhpWord/TemplateProcessor.php
  tests/PhpWordTests/TemplateProcessorTest.php
Labels: Bug Report

#2640 Feature: add limit option to setvalues
  docs/changes/1.x/1.4.0.md
  src/PhpWord/TemplateProcessor.php
  tests/PhpWordTests/TemplateProcessorTest.php
Labels: Status: Waiting for feedback

#2753 Writer/Reader Word2007: Added support for the firstLineChars for Indentation
  docs/changes/1.x/1.4.0.md
  docs/usage/styles/paragraph.md
  src/PhpWord/Reader/Word2007/AbstractPart.php
  src/PhpWord/Style/Indentation.php
  src/PhpWord/Style/Paragraph.php
  src/PhpWord/Writer/Word2007/Style/Indentation.php
  tests/PhpWordTests/Element/AbstractElementTest.php
  tests/PhpWordTests/Reader/Word2007/StyleTest.php
  tests/PhpWordTests/Style/AbstractStyleTest.php
  tests/PhpWordTests/Style/IndentationTest.php
  tests/PhpWordTests/Writer/EPub3/Part/AbstractPartTest.php
  tests/PhpWordTests/Writer/EPub3/Style/AbstractStyleTest.php
  tests/PhpWordTests/Writer/ODText/Part/AbstractPartTest.php
  tests/PhpWordTests/Writer/Word2007/Part/AbstractPartTest.php
  tests/PhpWordTests/Writer/Word2007/Style/IndentationTest.php
Labels: Open XML (Word 2007+)
